# Ignore node_modules in the root directory
/node_modules

# Ignore node_modules in the frontend and backend directories
/client/node_modules
/server/node_modules

# Ignore build artifacts
/client/build
/server/build
